{% extends 'V16/base.html' %}

{% block title %} Home {% endblock %}

{% block content %} 

</font><font color="#800040" size="6" face="Tms New Rmn">1957 - 1960</font></b></p>

<p align="center"><b><font color="#004080" size="5">Part 2<br>
</font><font color="#004080" size="6">Birth of the Brougham</font></b></p>

<p align="center"><font color="#800080" size="4"><b>Being some reflections on the Eldorado
Brougham &quot;dream car&quot; of 1955</b></font></p>

<p align="center">&nbsp;</p>

<p align="center"><font size="4"><strong>Return to <font color="#800000">The (New)
Cadillac Database©</font> <a href="indx2001.htm" target="_top">Index Page</a><br>
or <a href="Brg_chap.htm" target="_top">select preferred chapter</a></strong></font></p>

<p align="center">&nbsp;</p>

<p align="center"><img src="../Dbas_emb/Frflag.jpg" width="36" height="20"
alt="Frflag.jpg (773 bytes)"><strong><font face="Tms New Rmn"><br>
</font><font color="#008000" face="Tms New Rmn">(lire la version française en cliquant
sur le drapeau tricolore)</font></strong></p>

<p align="center">&nbsp;</p>

<p align="center"><img src="../Dbas_ima/Br_crst.jpg" alt="Br_crst.jpg (4207 bytes)"
width="289" height="75"></p>

<p align="center">&nbsp;</p>
<div align="center"><center>

<table border="3" cellpadding="3" cellspacing="3" width="55%" bgcolor="#D9FFFE"
bordercolor="#800000">
  <tr>
    <td width="100%"><p align="center">&nbsp;</p>
    <p align="center"><img src="../Dbas_brg/BRG_SHOW.JPG" width="297" height="150"
    alt="BRG_SHOW.JPG (10799 bytes)"><br>
    <font color="#800080"><small><strong>Proposed display setting for the 1955<br>
    <em>Eldorado Brougham</em> Prototype</strong></small></font></p>
    <p align="center">&nbsp;</td>
  </tr>
</table>
</center></div>

<p align="center">&nbsp;</p>

<blockquote>
  <p><strong>Harley Earl recalled in an interview that <i>the first minutes of meetings
  concerning the </i>Eldorado Brougham<i> were recorded on May 4, 1954, and included
  preliminary specifications of the passenger compartment. The four-passenger seating was
  tentatively agreed upon as well as general seating dimensions. Shortly afterward the wheel
  base and treads were pegged and a seating buck was fabricated with seats, steering wheel,
  and foot controls installed in accordance with our full-size layouts. At the same time I
  gave approval to start immediately on a full-size clay model.</i></strong></p>
  <p><strong>In the <em>Eldorado Brougham</em> dream car of 1955 were combined all the
  styling and mechanical characteristics that had been seen in earlier Cadillac dream cars
  [the <em>Orleans</em>, in 1953, and the <em>Park Avenue</em>, in 1954].</strong></p>
  <p><strong>Ed Glowacke, then in charge of the Cadillac studio, had the clay model ready
  for show to management in August 1954. The sleek, low model was approved. Work began
  immediately on the hand-built prototype that was to be displayed at the 1955 <em>Motorama</em>
  show just five months later.</strong></p>
  <p><strong>The car was painted on January 10, just nine days before the show was due to
  open in new York, a two-day trip away from Detroit. At 2 a.m. on January 19, just 14 hours
  before curtain-up, the <em>Brougham</em> was accidentally damaged, front and rear, when it
  collapsed from its transport dolly. Emergency repairs were hastily carried out.
  Fortunately, there were no visible traces of the mishap when, a few hours later, the
  public thronged around the car on its revolving stand at the show.</strong></p>
  <div align="center"><center><table border="3" cellpadding="3" cellspacing="3" width="55%"
  bgcolor="#D9FFFE" bordercolor="#800000">
    <tr>
      <td width="100%"><p align="center">&nbsp;</p>
      <p align="center"><img src="../Dbas_brg/55BrgPro00e2.jpg" width="409" height="150"
      alt="55BrgPro00e2.jpg (31148 bytes)"></p>
      <p align="center">&nbsp;</td>
    </tr>
  </table>
  </center></div>
</blockquote>

<blockquote>
  <blockquote>
    <p>&nbsp;</p>
  </blockquote>
  <p><strong>The 1955 Fleetwood <em>Eldorado Brougham</em>, concept car #XP-38 (special
  order #2253), was first shown in New York to a discrete audience of some 5100 people
  starting at 4 p.m. on January 19, 1955 (the enthusiastic public only got to see the car
  next day in the Grand Ballroom of the Waldorf). Cadillac's Merchandising department
  described the <em>Motorama Brougham</em> for 1955 in the following terms:</strong></p>
  <blockquote>
    <p><strong><i>Completely functional in every detail, the new 1955 Cadillac </i>Eldorado
    Brougham<i> is a luxury showcar exhibiting a wide departure from conventional automobile
    styling.</i></strong></p>
    <p><strong><i>Exterior features of this completely new car are: a wheel base of 124
    inches, overall length of 209.6 inches, overall width of 77.5 inches and an overall height
    of 54.4 inches - or less than 4½ feet </i>[sic].</strong></p>
    <p><strong><i>Outside dimensions have been reduced without sacrificing comfort in any way.
    Easy access is gained to this four-door car, and the absence of center door pillars
    affords both driver and passengers virtually unobstructed vision through 360°.</i></strong></p>
    <p><strong><i>Styled in the mode of jet aircraft, the </i>Eldorado Brougham <i>has such
    features as fresh air intake on top of the front fenders, air outlets in the rear doors
    flush with the body panel, and dual headlight assemblies - outer lamps for the city and
    inner lamps for highway use - automatically controlled by an </i>Autronic Eye<i>.</i></strong></p>
    <p><strong><i>Capped by a brushed aluminum roof, the lower exterior of the car is finished
    in Chameleon green.</i></strong></p>
    <p><strong><i>Interior features match the modern exterior in every sense. The color of the
    interior is also Chameleon Green with top grain leather and imported French ripple silk is
    used as trim. The four individual seats are tailored to give the utmost in comfort and the
    driver's seat pivots outward, making entering and leaving the car almost automatic. The
    instrument panel, covered with shock absorbent material, is designed for the greatest
    possible visibility of controls.</i></strong></p>
    <p><strong><i>A storage compartment in the instrument panel and between the front seats
    serves the driver and front passengers.</i></strong></p>
    <p><strong><i>Located in front of the storage compartment between the seats is a courtesy
    light that also serves as a map light.</i></strong></p>
  </blockquote>
  <p><strong>GM's latest Motorama creation was given some press coverage in <i>Car Life</i>
  for May 1955, where the following description appeared:</strong></p>
  <blockquote>
    <p><strong><i>On a more practical plane, Cadillac has also introduced the </i>Eldorado
    Brougham <i>with an overall height of 54.4 inches and without a center door pillar</i>
    [&quot;B&quot; pillar]<i>. Fenders and characteristic tail lines are complimented </i>[compl<u>e</u>mented?]<i>
    by a tinted brushed aluminum roof. Dual headlight assemblies, Cadillac says, provide the
    most efficient road lighting yet devised. The outer lamps are flat beam city lights and
    the inner lamps are highly penetrating highway lights. Both sets are controlled by an
    Autronic-Eye mounted at top of windshield.</i></strong></p>
    <p><strong><i>Using new methods of construction, Cadillac has reduced all outside
    dimensions without sacrificing passenger comfort. All seats are individual and are
    tailored to fit the body. Wheel base is 124 inches, overall length is 209.6 inches and
    width is 77.5 inches. A highly iridiscent exterior color - Chameleon green - has been
    developed expressly</i> <i>for the Brougham and the interior is trimmed in matching paint,
    leather and imported French silk.</i></strong></p>
  </blockquote>
  <p><strong>The press release for the Boston venue of the <em>Motorama</em>, starting April
  23, 1955 was worded slightly differently. It carried the reference <i>O'Hk 5 11255.</i></strong></p>
  <p><strong>In September 1955, long after the brilliance and splendor of GM's <em>Motorama</em>
  for 1955 had waned, <em>Motor Life</em> carried a pictorial spread on the 1955 <em>Eldorado
  Brougham</em> prototype.</strong></p>
  <p><strong>Under the heading <i>The </i>Eldorado Brougham <i>- A NEW CADILLAC FOR 1956</i>,
  the writer suggested that the class of super-luxury cars, neglected since the 1930's, was
  on the way back. He considered the <em>Eldorado Brougham</em> as certain to be a
  style-setter in advanced features.</strong></p>
  <p><strong>The features on which the writer concentrated were the following:</strong></p>
  <blockquote>
    <p><strong><i>Twin headlights at the front end of each fender have five-inch lenses. Outer
    lamps are flat-beam city lights; inner lamps are for highway use. An Autronic Eye will
    switch from to the other as conditions on the road require.</i></strong></p>
    <p><strong><i>Interior includes padded instrument panel with recessed controls, Driver's
    seat pivots outward for easy entry and exit, while centre of both front and rear seats
    contains storage compartment. Note absence of small ventilator windows, considered
    unnecessary in a car having air conditioner and heater as integral unit.</i></strong></p>
    <p><strong><i>Quad exhaust is what Cadillac is calling the system that has dual pipes
    issuing from the rear fenders on each side of the car. This could be said to balance
    dual-dual headlights in front, but benefits in engine efficiency are unknown.</i></strong></p>
    <p><strong><i>Magnesium wheels simulate wire wheels </i>[?]<i>, but obviously will be
    easier to clean and polish. Front bumper has been a Cadillac trademark for several years.
    Top of Brougham, incidentally, is tinted aluminum, forecasting more widespread use of
    non-rusting metal in cars to come </i>[no such luck!]<i>.</i></strong></p>
    <p><strong><i>Rear doors open into the wind (...), a characteristic of four-door hardtops.
    But Cadillac engineers say they have developed an adequate safety device to forestall
    mishaps. Note triangular section that forms upper rear of door. Only chromed strip on side
    of body (right) is vertical trim, another Cadillac trademark in recent years, which may
    point the way to more restraint in exterior treatments for the future. Significant item:
    the </i>Brougham<i>'s wheel base is 124 inches, five less than the current Cadillac 62
    series. Are scaled-down cars coming from other U.S. auto manufacturers?</i></strong></p>
  </blockquote>
</blockquote>
<div align="center"><center>

<table border="3" cellpadding="3" cellspacing="3" width="95%" bgcolor="#D9FFFE"
bordercolor="#800000">
  <tr>
    <td width="100%"><p align="center">&nbsp;</p>
    <blockquote>
      <blockquote>
        <p align="center">
		<img src="../Dbas_brg/org55brg.jpg" width="334" height="250"
        alt="org55brg.jpg (14143 bytes)"><br>
        <font color="#800080"><small><strong>These four original factory photos were found in a
        factory album that had been discarded;<br>
        the album was later found in a dumpster in MI and subsequently sold on e-Bay, in&nbsp;
        2003</strong></small></font></p>
		<p align="center">
		<img border="0" src="../Dbas_brg/55BrgPro00f.jpg" width="821" height="300"><br>
        <font color="#800080"><small><strong>Artist's impression of the <em>Eldorado Brougham</em>
        1955 prototype<br>
        [ illustration from 1955 <em>Motorama</em> folder for this model ]</strong></small></font></p>
        <p align="center"><img src="../Dbas_ima/Br55gril.jpg" alt="Br55gril.jpg (7801 bytes)"
        width="228" height="150">&nbsp; &nbsp;&nbsp; <img src="../Dbas_ima/Br55lhrr.jpg"
        alt="Br55lhrr.jpg (7261 bytes)" width="216" height="150"><br>
        <font color="#800080" size="2"><strong>Left:&nbsp; quad headlights were banned in most
        states until 1957; <br>
        Right:&nbsp; rear of production car would be different</strong></font></p>
      </blockquote>
    </blockquote>
    <p align="center"><img src="../Dbas_brg/55BrgPro21.jpg" width="200" height="150"
    alt="55BrgPro21.jpg (9532 bytes)">&nbsp;&nbsp; &nbsp; <img src="../Dbas_brg/55BrgPro22.jpg"
    width="206" height="150" alt="55BrgPro22.jpg (9192 bytes)">&nbsp;&nbsp; &nbsp;&nbsp;<img
    src="../Dbas_brg/55BrgPro20.jpg" width="137" height="200"
    alt="55BrgPro20.jpg (7314 bytes)">&nbsp;&nbsp; &nbsp; <img src="../Dbas_ima/Br55seat.jpg"
    alt="Br55seat.jpg (8507 bytes)" width="222" height="150"><br>
    <strong><font color="#800080" size="2">Left:&nbsp; instrument panel was sober and
    functional<br>
    Center: Factory information sheet said: </font><font color="#800080"><small><i>the
    driver's seat pivots outward, making entering and leaving the car almost automatic</i></small></font><font
    color="#800080" size="2">; <br>
    however, the knob on the passenger seat suggest that both front seats were the swivel type<br>
    Right:&nbsp; individual seating, front and rear</font></strong></p>
    <blockquote>
      <blockquote>
        <p align="center"><img src="../Dbas_ima/Br55lhbw.jpg" alt="Br55lhbw.jpg (10117 bytes)"
        width="324" height="150">&nbsp;&nbsp; &nbsp;&nbsp;<img
        src="../Dbas_brg/55Brg4.jpg" width="420" height="200" alt="55Brg4.jpg (10346 bytes)">&nbsp;&nbsp;&nbsp;&nbsp; <img src="../Dbas_ima/Br55midl.jpg"
        alt="Br55midl.jpg (5161 bytes)" width="168" height="150">
        &nbsp;&nbsp;&nbsp; <br>
        <font color="#800080" size="2"><strong>Left:&nbsp; reverse slant roof saddle appeared on
        production Cadillacs in 1957<br>
        Right:&nbsp; &quot;suicide&quot; rear door configuration</strong></font></p>
        <p align="center"><img src="../Dbas_brg/55Mrama.jpg" width="235" height="150"
        alt="55Mrama.jpg (8835 bytes)">&nbsp;&nbsp; &nbsp; <img src="../Dbas_brg/55BrgMods.jpg"
        width="253" height="150" alt="55BrgMods.jpg (7076 bytes)"></p>
      </blockquote>
    </blockquote>
    <p align="center">
	<img border="0" src="../Dbas_brg/55BrgPro00e1.jpg" width="731" height="300">&nbsp;&nbsp;&nbsp; <br>
    <font color="#800080"><small><strong>On the revolving display platform at the 1955 <em>GM
    Motorama</em></strong></small></font></p>
    <p align="center"><img src="../Dbas_brg/55BrgPro00d3.jpg" width="207" height="150"
    alt="55BrgPro00d3.jpg (10552 bytes)">&nbsp;&nbsp;&nbsp;&nbsp; <img src="../Dbas_brg/BR55RRFN.JPG" width="210" height="150"
    alt="BR55RRFN.JPG (8469 bytes)">&nbsp;</p>
	<p align="center">
	<img border="0" src="../Dbas_brg/55brgblonde.jpg" width="436" height="300">&nbsp;&nbsp;&nbsp; &nbsp;<img border="0" src="../Dbas_brg/55BrgPro00d32.jpg" width="603" height="300"><br>
    <font color="#800080" size="2"><strong>Right: fins on the <em>Brougham</em> prototype
    marked a transition from the early to the late fifties type</strong></font></p>
	<p align="center"><img border="0" src="../Dbas_brg/55BrgPro00d1.jpg" width="476" height="300"><br>
    &nbsp;</p>
	<blockquote>
      <blockquote>
        <p align="center">&nbsp;&nbsp;&nbsp; 
		<img border="0" src="../Dbas_brg/55BrgPro00b0.jpg" width="644" height="300">&nbsp;&nbsp;&nbsp;&nbsp; 
		<img border="0" src="../Dbas_brg/55BrgClr.jpg" width="643" height="300"><br>
        <font color="#800080"><small><strong>Identical B&amp;W and color promotional shots of the
        prototype</strong></small></font></p>
		<p align="center">
		&nbsp;<img border="0" src="../Dbas_brg/55BrgPro00a.jpg" width="549" height="300"></p>
        <p align="center"><img src="../Dbas_brg/55BrgPro00b1.jpg" width="369" height="150"
        alt="55BrgPro00b1.jpg (20708 bytes)">&nbsp;&nbsp;&nbsp; 
		</p>
        <p align="center"><img src="../Dbas_brg/55BrgPro18.jpg" width="332" height="150"
        alt="55BrgPro18.jpg (14607 bytes)"> &nbsp;&nbsp; <img src="../Dbas_brg/55BrgPro00b2.jpg"
        width="349" height="150" alt="55BrgPro00b2.jpg (25928 bytes)"><br>
        <font color="#800080"><small><strong>Two more identical B&amp;W and color promotional shots of the
        prototype<br>
		[ the color correction on this one appears to be a bit off ! ]</strong></small></font></p>
        <p align="center"><img src="../Dbas_brg/55BrgPro17b.jpg" width="363" height="150"
        alt="55BrgPro17b.jpg (14846 bytes)">&nbsp;&nbsp;&nbsp; <img src="../Dbas_brg/55Brg5.jpg"
        width="190" height="150" alt="55Brg5.jpg (4211 bytes)">&nbsp;&nbsp;&nbsp; <img src="../Dbas_brg/55Brg6.jpg"
        width="156" height="200" alt="55Brg6.jpg (4122 bytes)">&nbsp;&nbsp;&nbsp; 
		<img border="0" src="../Dbas_brg/55BrgSeat.JPG" width="550" height="300"><br>
        <font color="#800080" size="2"><strong>Left and center: Cadillac General Manager, Don
        Ahrens, with curvaceous model demonstrating the proposed<br>
        swiveling driver's seat; the latter was not retained for the production car (I believe
        Chrysler may have patented it first)<br>
        <br>
        </strong></font>
		<img border="0" src="../Dbas_brg/55Brg3.jpg" width="368" height="300">&nbsp;&nbsp;&nbsp;&nbsp; 
		<img border="0" src="../Dbas_brg/55BrgProto2.jpg" width="659" height="302"><br>
        <font color="#800080"><small><strong>There are no photos of the passenger seat swung
        outward; nevertheless, the knob <br>
        at the front of the seat side suggests that it too swiveled outward, like the driver's
        seat </strong></small></font></p>
        <p align="center">&nbsp;</p>
      </blockquote>
    </blockquote>
    </td>
  </tr>
</table>
</center></div>

<blockquote>
  <p>&nbsp;</p>
  <p><strong>As everyone knows, the answer to the last question was a definite
  &quot;yes&quot;, although the industry had to wait a few more years before new compacts
  emerged <i>en masse</i> like the <i>Corvair</i> (by Chevrolet), the <i>Comet</i> (by
  Ford), the Dodge <i>Dart</i> and Plymouth <i>Valiant</i> (by Chrysler) ...and the
  &quot;hottest&quot; compact of them all, the <i>Mustang</i> (by Ford).</strong></p>
  <p><strong>More detailed was the report published by Modern Motor in September of the same
  year. <i>Better than the best</i>, proclaimed the headline. Cadillac said their new
  Eldorado <i>would make people forget about the Rolls Royce.</i></strong></p>
  <p><strong>As Larry Foley, the columnist, pointed out, that was a tall order.</strong></p>
  <p><strong>Illustrating the article was the well-known publicity shot of the rear of the
  Eldorado Brougham, taken during the Motorama tour in Miami, in which the Brougham was
  greatly enhanced by a lovely, platinum-blonde, Marilyn Monroe look-alike.</strong></p>
  <p><strong>Appropriate excerpts from Larry Foley's story are reproduced below:</strong></p>
  <blockquote>
    <p><strong><i>Two leading United States car-makers have at last got round to considering
    the needs of their customers - the multi-millionaire.</i></strong></p>
    <p><strong><i>They believe it is high time he got a car worthy of his bankroll - an
    American equivalent of the Rolls Royce.</i></strong></p>
    <p><strong><i>...the Cadillac has become so common on the U.S. highways that the man at
    the wheel is no longer a man of distinction.</i></strong></p>
    <p><strong><i>Quite ordinary people drive Cadillacs. They may be poor, but they want to
    look rich. </i></strong></p>
    <p><strong><i>...By the end of this year </i>[1955]<i> there will be a new class of car
    owner. Two new cars, intended specifically for the Big Rich, are on the way:</i></strong></p>
    <p><strong><i>* The Lincoln Continental Mark II, being made by the Ford people.</i></strong></p>
    <p><strong><i>* The Eldorado Brougham, by Cadillac (General Motors).</i></strong></p>
    <p><strong><i>Of the two firms, the more vociferous so far have been Cadillac ...</i>[they]<i>
    have been much more characteristically American in their advance promotion of the Eldorado
    Brougham.</i></strong></p>
    <p><strong><i>The Cadillac people announced, simply, that they were going into competition
    with Rolls-Royce of England. Their new luxury car, they said, &quot;will make people
    forget about the Rolls Royce&quot;.</i></strong></p>
    <p><strong><i>Rolls-Royce of England, who might perhaps have been amused by such
    presumption, appeared not to hear. Judging by the description of the Eldorado Brougham,
    R.R. have nothing to fear from the proposed transatlantic competition. With its racy,
    low-slung lines (overall height only 4ft. 6in.), four headlights, &quot;quad&quot; exhaust
    pipes, &quot;projectile-shaped&quot; rear bumpers and massive, flashy chrome-plating, the
    Eldorado Brougham is hardly likely to appeal to the gentry for whom Rolls-Royce of England
    have always catered - apparently to their mutual satisfaction, since R.R. have been going
    strong for 51 years and still need no more resounding form of advertising than their
    traditional, plain, modest little inserts in such journals as The Times: &quot;The best
    car in the world&quot;.</i></strong></p>
    <p><strong><i>Nobody has ever gainsaid this claim - so you will either admire or smile at
    Cadillac for their brash prediction that their Eldorado Brougham will depose the Rolls.</i></strong></p>
    <p><strong><i>The true test of a car's value in the eyes of the world is the legends which
    form around it. On that score Cadillac lags far behind Rolls.</i></strong></p>
    <p><strong><i>...It remains to be seen whether Cadillac, with their super-duper car, can
    match that something </i>[which Rolls Royce was purported to have, in the story]<i>. I
    doubt it. For one thing, the Eldorado Brougham won't even have a decent price-tag.</i></strong></p>
    <p><strong><i>The best they will be able to do, it seems, will be something around 10'000
    dollars. Why, that won't even beat their American rivals, Ford, who are expected to charge
    around 12'000 for the Continental Mark II.</i></strong></p>
    <p><strong><i>With such low </i>[!]<i> prices, both will be far behind the Rolls, which
    costs 14'000 dollars - before the real work is put into it, like upholstery to match the
    linings of milady's furs, or hot and cold running water, or jeweled vanity-cases (3000
    dollars alone), or gold-plated dashboards with diamond-studded clocks by Cartier, or twin
    folding-mirrors by Mappin and Webb of London, or concealed bars, or silver-plated bonnets </i>[i.e.
    hoods]<i>, or costly fur lap-robes, or petit-point upholstery (all featured variously in
    the Rolls Royces of well-known contemporary Britons, Indian rajahs, and Americans).</i></strong></p>
    <p><strong><i>One comfort for the prospective buyers of these two new models:
    mass-production will not threaten the exclusiveness of their cars. Production of both will
    be limited - to 1000 a year for the Eldorado Brougham, and to about eight a day for the
    Continental </i>[i.e. about 2000 a year].</strong></p>
    <p><strong><i>...Both are being produced in great secrecy, and neither maker has yet come
    out with pictures and details.</i></strong></p>
    <p><strong><i>...the Eldorado when unveiled is expected to be even less surprising because
    its prototype was featured, and got wide publicity, as a &quot;dream car&quot; at this
    year's Motorama, the annual road-show of General Motors.</i></strong></p>
    <p><strong><i>The dream car was in fact called the </i>Eldorado Brougham,<i> but the
    production model will be a modified version of the Motorama exhibit.</i></strong></p>
    <p><strong><i>One of the modifications will be the </i>[absence of the]<i> slinky blonde
    in a white evening gown </i>[and the brunette in furs!] <i>who appeared to be part of the
    Motorama model. Discreet inquiries at Cadillac headquarters indicated that the blonde will
    not go with the production model </i>[nor will the brunette].</strong></p>
  </blockquote>
</blockquote>

<blockquote>
</blockquote>

<blockquote>
  <p><strong><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; That's too bad. I thought the blonde and brunette models were a unique
  feature on which the Cadillac boys really had poor old Rolls-Royce licked.</i></strong></p>
  <p>&nbsp;</p>
  <p><strong>Factory merchandising literature on this car includes a small, single card and
  a small 4-page folder; both pieces show the car painted black instead of the actual color
  used, which was called <em>Chameleon Green</em> (a shade of turquoise).</strong></p>
	<p>&nbsp;</p>
</blockquote>
<div align="center"><center>

<table border="3" cellpadding="3" cellspacing="3" width="60%" bgcolor="#D9FFFE"
bordercolor="#800000">
  <tr>
    <td width="100%"><p align="center">&nbsp;</p>
    <p align="center"><font face="Times New Roman"><img src="../Dbas_lit/55EBFLD2.JPG"
    width="472" height="150" alt="55EBFLD2.JPG (8528 bytes)"></font></p>
    <p align="center">&nbsp;</td>
  </tr>
</table>
</center></div>

<blockquote>
  <p align="center">&nbsp;</p>
</blockquote>
<div align="center"><center>

<table border="3" cellpadding="3" cellspacing="3" width="65%" bgcolor="#D9FFFE"
bordercolor="#800000">
  <tr>
    <td width="100%"><p align="center">&nbsp;</p>
    <p align="center"><img src="../Dbas_brg/55ebpro1.jpg" width="500" height="150"
    alt="55ebpro1.jpg (11506 bytes)"></p>
    <p align="center"><img src="../Dbas_brg/55ebpro2.jpg" width="246" height="150"
    alt="55ebpro2.jpg (4994 bytes)"><br>
    <font color="#800080"><small><strong>Two artist's views of the prototype</strong></small></font></p>
    <p align="center">&nbsp;</td>
  </tr>
</table>
</center></div>

<blockquote>
  <p align="center">&nbsp;</p>
  <div align="center"><center><table border="3" cellpadding="3" cellspacing="3" width="74%"
  bgcolor="#D9FFFE" bordercolor="#800000">
    <tr>
      <td width="100%"><p align="center">&nbsp;</p>
      <p align="center"><img src="../Dbas_brg/55EB1956.jpg" width="377" height="150"
      alt="55EB1956.jpg (15451 bytes)"><br>
      </p>
      <p align="center"><img src="../Dbas_brg/55ebChica1.jpg" width="228" height="150"
      alt="55ebChica1.jpg (7251 bytes)">&nbsp;&nbsp;&nbsp; <img src="../Dbas_brg/55ebChica2.jpg"
      width="435" height="150" alt="55ebChica2.jpg (10385 bytes)"><br>
      <font color="#800080"><small><strong>The prototype <em>Eldorado Brougham</em> was shown
      again, <br>
      in unmodified form, in Chicago, during the 1956 Motorama show circuit </strong></small></font></p>
      <p align="center">&nbsp;</td>
    </tr>
  </table>
  </center></div><p align="center">&nbsp;</p>
  <div align="center"><center><table border="3" cellpadding="3" cellspacing="3" width="74%"
  bgcolor="#D9FFFE" bordercolor="#800000">
    <tr>
      <td width="100%"><p align="center">&nbsp;</p>
      <p align="center"><img src="../Dbas_brg/55brg1aExpo.jpg" width="261" height="150"
      alt="55brg1aExpo.jpg (15196 bytes)">&nbsp;&nbsp; &nbsp; <img
      src="../Dbas_brg/55brg1bExpo.jpg" width="288" height="150"
      alt="55brg1bExpo.jpg (17233 bytes)">&nbsp;&nbsp;&nbsp;&nbsp;
		<img border="0" src="../Dbas_brg/55Brg3a.jpg" width="449" height="300"><br>
      <font color="#800080"><strong><small>After the Motorama of 1955, the prototype <em>Eldorado
      Brougham</em> was &quot;loaned&quot; to various <br>
		Cadillac dealerships to help boost sales of the new, 1955 models; these photos were taken in one such
      locale</small><br>
      <small>[ Original photos:&nbsp; courtesy Jean-Michel Roux ] </small></strong></font></p>
      <p align="center">&nbsp;</td>
    </tr>
  </table>
  	<p align="center">&nbsp;</p>
	<blockquote>
		<p align="left"><strong>More on the <em>Eldorado Brougham</em> Motorama model may be found in MT, 4/55
  (front cover and pp.16-20), SSA 30th anniversary issue (pp.47-49), MC, Autumn 1974 (p.6)
  and ML, 9/55.&nbsp; Also I saw this car described in the French weekly <em>Journal de
  l'Automobile</em> as <em>le cabriolet Eldorado avec son toit mobile en aluminium</em> [the
  Eldorado convertible with its removable aluminum roof]! </strong></p>
	</blockquote>
	<p align="center">&nbsp;</p>
  </center></div><p align="center"><font size="4"><strong>Return to <font color="#800000">The
  (New) Cadillac Database©</font> <a href="indx2001.htm" target="_top">Index Page</a><br>
  or <a href="Brg_chap.htm" target="_top">select preferred chapter</a></strong></font></p>
  <p align="center">&nbsp;</p>
  <p align="center"><font color="#FF0000" size="2"><strong>© 1996, Yann Saunders and the <em>Cadillac-LaSalle
  Club, Inc.</em><br>
  [ Background image: the Cadillac <em>Eldorado Brougham</em> show car of 1955 ]</strong></font></p>
</blockquote>

{% endblock %}
