{% extends 'EB/base.html' %}

{% block title %}Sitemap{% endblock %}

{% block content %}

<font size="6" face="Tms New Rmn">Sitemap</font></b></p>

<ol>
	<li><a href="/">The Cadillac Database</a>
		<ul>
			<li><a href="/update">Important Information
			<li><a href="/preface">Preface</a></li>
			<li><a href="/foreword">Foreword</a></li>
			<li><a href="/static/CDB/Dbas_txt/lelaward.htm">Awards</a></li>
			<li><a href="/update">News and Updates</a></li>
			<li><a href="/about">About the database</a></li>
		</ul>
	</li>
	<li><a href="#">Principal Historical Chapters</a>
		<ul>
			<li><a href="#">Cadillac Crest Story</a></li>
			<li><a href="/historical-information">Historical Information</a></li>
			<li><a href="#">Cadillac advertisements</a></li>
			<li><a href="#">La Salle advertisements</a></li>
			<li><a href="#">Cadillac Merchandising Material 
				<ul>
					<li><a href="#">Catalogs/Sales Literature</a></li>
					<li><a href="#">Folders/Sales Literature</a></li>
					<li><a href="#">Film Strips</a></li>
				</ul>
			</li>
			<li><a href="#">Cadillac-LaSalle</a></li>
			<li><a href="#">Dream, Cars on Cadillac and LaSalle Chasis</a></li>
			<li><a href="#">Cadillac of Stars and Personalities</a></li>
			<li><a href="#">Cadillac Toys and Scale Models</a></li>
		</ul>
	</li>
	<li><a href="/static/CDB/Dbas_txt/Phot_ndx.htm">Photo Pages
		<ul>
			<li><a href="#">Cadillac Allante</a></li>
			<li><a href="#">Cimarron</a></li>
			<li><a href="#">Seville</a></li>
		</ul>
	</li>
	<li><a href="/survivors-registry">Survivor Registry
		<ul>
			<li><a href="#">Cadillac V16 models</a></li>
            <li><a href="#">Eldorados</a></li>
            <li><a href="/survivors-registry/eldorado-broughams/">Eldorado Brougham (1950-1960)</a></li>
            <li><a href="/survivors-registry/professional-cars/">Professional cars on Cadillac Chasis</a></li>
            <li><a href="/survivors-registry/1974-1976-fleetwood-talisman/">1974-1976 Fleetwood Talismans</a></li>
		</ul>
	</li>
	<li><a href="#">Related Topics</a>
		<ul>
			<li><a href="#">Cadillac Art & artifacts
				<ul>
    				<li><a href="#">Wheel Covers</a></li>
                    <li><a href="#">Horn Buttons</a></li>
                    <li><a href="#">stand-up Mascots</a></li>
                    <li><a href="#">Cadillac Insignia</a></li>
                    <li><a href="#">Artistic paintings and photos</a></li>
                    <li><a href="#">Miscellaneous artifacts</a></li>
				</ul>
			</li>
            <li><a href="#">Cadillac Engines</a></li>
            <li><a href="#">Cadillac Books</a></li>
            <li><a href="#">Aphorisms</a></li>
            <li><a href="#">Cadillac Fact Finder</a></li>
            <li><a href="#">The Fisher Coach</a></li>
            <li><a href="#">Cadillac Styling Codes</a></li>
            <li><a href="#">Millionth Models</a></li>
            <li><a href="#">Cadillacs in the Movies</a></li>
            <li><a href="#">Cadillac in Songs</a></li>
            <li><a href="#">Cadillac on Postage Stamps</a></li>
            <li><a href="#">Follies of Fifty-Nine</a></li>
            <li><a href="#">"SHARK 59"</a></li>
            <li><a href="#">Cadillacs Fun & Miscellany</a></li>
            <li><a href="#">Yearly Specifications</a></li>
            <li><a href="#">Technical Articles</a></li>
            <li><a href="#">Links to outside sources</a></li>
		</ul>
	</li>
</ol>

{% endblock %}
